body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(img/bgg.png); 
    max-width: 1170px;
    background-size: cover;
   
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 810px;
    height: 530px;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    background-color: rgba(114, 114, 114, 0.6);
    backdrop-filter: blur(10px);
}
.picture{
    width: 450px;
    border-radius: 0px 15px 15px 0px ;
}
.picture .connten{
    height: 470px;}
.picture img{
    margin-top: 70px;
    width: 400px;  
} 
.picture h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 3px  #000000;
}

.form {
    color: rgb(255, 255, 255);
    width: 420px;
    border-radius: 15px  0px  0px 15px;
}

.logo{
    width: 350px;
    padding-top: 30px; 
    padding-left: 30px;
    padding-bottom: 0px; 
    display: flex;
}
 .logo img{
    width: 70px;
    height: 70px;
}
.name h2 {
    letter-spacing: 3px;
    padding-left: 5px;
    font-size: 30px;
    margin-top: -0px;
    text-shadow: 1px 2px 3px  #000000;
} 
.name p{
    margin-top: -23px;
    margin-bottom: -20px;
    padding-left: 20px;
    text-shadow: 1px 2px 3px  #000000;
}

.list {
    padding-left: 10px;
    padding-top: 0px ;
    padding-left: 40px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
}
.list .capption p{
    text-align: center;
    margin-right: 50px;
    padding-top: 0px;
    font-size: 20px;
}
.list p {
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 0px;
}
.list input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 2px solid rgb(235, 235, 235);
    background: transparent;
    outline: none;
    height: 35px;
    width: 300px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.www::-webkit-input-placeholder{
    color: #ffffffd7;
    font-size: 12px;
}

.remember{
    margin-left: 21px;
    font-size: 14px;
    float: left ;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-top: 5px;
    padding: 3px 5px 15px 15px;
}
.remember input{
    margin-top: 0.5px;
}
.remember .pass{
    float: right;
    margin-left: 70px;    
}
.remember .pass a{
    text-decoration: none;

}
.btn-class {
    text-align: center;
    margin-left: 30px;
}
.signin {
  background:-webkit-linear-gradient(left,#32e4af,#0b4c25) ;
  box-shadow: 0 5px #145c31;
  text-decoration: none;
  margin-right: 50px;
}
.signin:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.btn {
    padding: 8px 120px;
    color: rgb(255, 255, 255);
    display: inline-block;
    opacity: 0.8;
    border-radius: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 0,25s;
}
.btn:hover {
    opacity: 1;
}
.accond {
    text-align: center;
    font-size: 12px;
    margin-right: 30px;
}
.accond a{
    text-decoration: none;
}
.entry {
    text-align: center;
}
.entry .fb{
    margin-left: 20px;
}
.entry .google {
    margin-right: 20px;
}
.entry a{
    opacity: 1;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
.entry a:hover{
    opacity: 0.6;
}
.entry p{
    opacity: 0.5px;
    font-size: 12px;
}
